.client_slide {
	align-items: stretch;
	background: linear-gradient(to bottom, #250000 0%, #03001C 50%, #011E26 100%);
	display: flex;
	flex-flow: row nowrap;
	width: 100%;

	.hero {
		display: flex;
		flex: 0 0 60%;
		height: 100%;
		max-width: 60%;
		opacity: 1;
		overflow: hidden;
		position: relative;
		width: 60%;
		z-index: 100;

		.bg {
			@include cover;
			object-fit: cover;
			object-position: center center;
			opacity: 0;
			transition: opacity 0.3s;
			z-index: 1;

			&.active {
				opacity: 1;
			}
		}
	}

	.gallery {
		align-items: center;
		bottom: 10px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		pointer-events: all;
		position: absolute;
		right: 10px;
		transition: opacity 0s linear 0s;
		z-index: 1000;

		.thumb {
			background-color: #000;
			background-size: cover;
			border: 3px solid #000;
			border-radius: 20px;
			display: inline-block;
			flex: 1 1 100%;
			height: 7vw;
			margin-left: 10px;
			object-fit: cover;
			object-position: center center;
			pointer-events: all;
			width: 9vw;

			&.active {
				border-color: #7BC;
			}
		}
	}

	.content {
		display: flex;
		flex: 0 0 40%;
		flex-flow: column nowrap;
		font-size: 100px;
		height: 100%;
		justify-content: center;
		max-width: 40%;
		padding: 55px 3%;
		position: relative;
		user-select: none;
		width: 40%;
		z-index: 10;

		h1 {
			color: #83DBE7;
			display: inline-block;
			font-family: "Roboto Black", Arial Black, Helvetica, sans-serif;
			font-size: .72em;
			font-variant: small-caps;
			left: -2px;
			line-height: 80%;
			margin: 0 0 30px;
			position: relative;
			text-transform: lowercase;
			top: 0;
			transform: none;
			width: fit-content;
		}

		&>.text {
			color: inherit;
			display: flex;
			flex-flow: column nowrap;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;

			blockquote {
				color: #83DBE7;
				display: inline-block;
				font-family: "Roboto Black", Arial Black, Helvetica, sans-serif;
				font-size: .22em;
				line-height: 120%;
				margin: -20px 0 25px;

				&>p {
					color: inherit;
					display: flex;
					flex-flow: column nowrap;
					font-family: inherit;
					font-size: inherit;
					font-size: 100%;
					font-weight: inherit;
					margin: 0;
					padding: 0;
				}
			}

			h1 {
				color: #83DBE7;
				display: inline-block;
				font-family: "Roboto Black", Arial Black, Helvetica, sans-serif;
				font-size: .22em;
				line-height: 120%;
				margin: -20px 0 25px;
				text-transform: uppercase;
			}

			h2 {
				color: #FFF;
				display: inline-block;
				font-family: "Roboto Black", Arial Black, Helvetica, sans-serif;
				font-size: .18em;
				margin: 0 0 15px;
				text-transform: uppercase;
			}

			p {
				color: #FFF;
				display: inline-block;
				font-family: "Roboto", Arial, Helvetica, sans-serif;
				font-size: .15em;
				line-height: 160%;
				margin: 0 0 30px;

				&.slides_count {
					bottom: 15px;
					margin: 0;
					pointer-events: none;
					position: absolute;
					right: 15px;
				}

			}

			&.products {
				p {
					text-transform: capitalize;
				}
			}
		}
	}
}