.section_slider {
	background-color: rgba(red, 0.6);
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: translateY(100%);
	transition: transform 1s ease-out;
	width: 100%;
	z-index: 100;

	&.active {
		pointer-events: all;
		transform: translateY(0%);
	}

	.inner {
		height: 80%;
		left: 10%;
		position: absolute;
		top: 10%;
		width: 80%;
	}

	&>.slick-slider {

		&,
		&>.slick-list,
		&>.slick-list>.slick-track {
			@include cover;
			display: flex;
		}
	}
}